<div class="nes-container is-dark large-container">
  <div class="col-lg-6">
    <div class="nes-container is-dark with-title is-centered">
      <p class="title">Admin Dashboard</p>
      <button id="nav1" class="nes-btn is-primary" onclick="switchPanel(1);">Users</button>
      <button id="nav2" class="nes-btn" onclick="switchPanel(2);">Stats</button>
      <button id="nav3" class="nes-btn" onclick="switchPanel(3);">Traffic</button>
    </div>
  </div>
  <div class="col-lg-12">
    <div id="users_tab" class="nes-container is-dark with-title is-centered admin-dashboard">
      <p class="title">Users</p>
      <div class="convo-scrollable">
        <section data-simplebar data-simplebar-auto-hide="false" class="convo-list">
          <div class="nes-table-responsive">
            <table class="nes-table is-bordered is-dark"
              <tr>
                <th>ID</th>
                <th>|-----Username-----|</th>
                <th>|--Joined--|</th>
                <th>|--Active--|</th>
                <th>-</th>
                <th>-</th>
              </tr>
              <% @all_users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td <%= "style=color:yellow;" if user.is_admin? && user.approved? %>><%= user.username %></td>
                <td><%= user.created_at.to_s[0...10] %></td>
                <% if user.approved %>
                  <td><%= user.active %></td>
                  <td><%= (link_to 'Edit', view_user_path(:id => user.id), class: "nes-btn") if !user.is_admin || current_user.is_owner %></td>
                  <td><%= (link_to 'X', lock_user_path(:id => user.id), class: "nes-btn is-error", :data => {:method => 'post', :confirm => 'This action will lock ' + user.username + '\'s account (ID: ' + user.id.to_s + '). This can only be undone by the system administrator. Are you sure you want to do this?'})  if !user.is_admin || current_user.is_owner %></td>
                <% else %>
                  <td style="color:red;">LOCKED</td>
                  <td><%= (link_to '-', '#', class: "nes-btn") if !user.is_admin || current_user.is_owner %></td>
                  <td><%= (link_to '-', '#', class: "nes-btn is-error") if !user.is_admin || current_user.is_owner %></td>
                <% end %>
              </tr>
              <% end %>
            </table>
          </div>
        </section>
      </div>
    </div>
    <div id="stats_tab" class="nes-container is-dark with-title is-centered admin-dashboard hidden">
      <p class="title">Stats</p>
      <div class="convo-scrollable">
        <section data-simplebar data-simplebar-auto-hide="false" class="convo-list">
          <div class="nes-table-responsive">
            <table class="nes-table is-bordered is-dark"
              <tr>
                <th>|----|</th>
                <th>|-Signups-|</th>
                <th>|-Visits-|</th>
                <th>|-Chats-|</th>
                <th>|-Avg. Chat Length-|</th>
              </tr>
              <tr>
                <td>YTD</td>
                <td><%= @ytd_signups %></td>
                <td><%= @ytd_visits %></td>
                <td><%= @ytd_chats %></td>
                <td><%= @ytd_avg_length %></td>
              </tr>
              <tr>
                <td></td><td></td><td></td><td></td><td></td>
              </tr>
              <tr>
                <th>MM/YY</th>
                <th>|-Signups-|</th>
                <th>|-Visits-|</th>
                <th>|-Chats-|</th>
                <th>|-Avg. Chat Length-|</th>
              </tr>

              <tr>
                <td>03/19</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>

            </table>
          </div>
        </section>
      </div>
    </div>
    <div id="traffic_tab" class="nes-container is-dark with-title is-centered admin-dashboard hidden">
      <p class="title">Traffic</p>
      <div class="convo-scrollable">
        <section data-simplebar data-simplebar-auto-hide="false" class="convo-list">
          <div class="nes-table-responsive">
            <table class="nes-table is-bordered is-dark"
              <tr>
                <th>Traffic Table</th>
              </tr>
              <tr>
                <td>Coming Soon!!</td>
              </tr>
            </table>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
