<div class="nes-container is-dark with-title">
  <p class="title">Register</p>

<%= form_for @user do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div class="nes-field">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'nes-input is-dark', maxlength:20 %>
  </div>

  <div class="nes-field">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'nes-input is-dark' %>
  </div>

  <div class="nes-field">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'nes-input is-dark' %>
  </div>

  <div class="nes-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'nes-input is-dark' %>
  </div>

  <%= f.submit 'Register', class: 'nes-btn is-primary', style:"margin-top: 16px;" %>
<% end %>
</div>
