<div class="nes-container is-dark large-container">
  <div class="col-lg-4">
    <div class="nes-container is-dark with-title is-centered">
      <p class="title"><%= current_user.username %></p>
      Visits: <%= current_user.login_count %>
    </div>
    <div class="nes-container is-dark is-centered">
      <button href="#" class="nes-btn is-primary">Conversations</button>
      <button href="#" class="nes-btn is-warning">Lost Password</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="nes-container is-dark with-title pull-right">
      <p class="title">Stats</p>
      <ul class="nes-list is-circle is-dark">
        <li>Joined: <%= current_user.created_at %></li>
        <li>This visit: <%= current_user.current_login_at %></li>
        <li>Last visit: <%= current_user.last_login_at %></li>
        <li>Current login IP: <%= current_user.current_login_ip %></li>
        <li>Last login IP: <%= current_user.last_login_ip %></li>
        <!-- <li>Login count: <%= current_user.login_count %></li> -->
        <!-- <li>Failed login count: <%= current_user.failed_login_count %></li> -->
        <!-- <li>Last request: <%= current_user.last_request_at %></li> -->
      </ul>
    </div>
  </div>
</div>
