<div class="alert alert-info">
  Don't have an account?
  <%= link_to new_user_path, class: 'nes-btn is-primary' do %>
    Sign Up &raquo;
  <% end %>
</div>


<div class="nes-container is-dark with-title">
  <p class="title">Sign In</p>

<%= form_for @user_session do |f| %>
  <%= render 'shared/errors', object: @user_session %>

  <div class="nes-field">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'nes-input is-dark' %>
  </div>

  <div class="nes-field">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'nes-input is-dark' %>
  </div>

  <div class="nes-field">
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  </div>

  <div style="background-color:#212529; padding: 1rem 0;">
  <label>
    <input type="checkbox" class="nes-checkbox is-dark" checked />
    <span>fdfgdfg</span>
  </label>
</div>

  <%= f.submit "Log in!", class: 'nes-btn' %>
<% end %>
</div>
